.loader {
  position: absolute;
  top: 58%;
  left: 58%;

  width: 2rem;
  height: 2rem;

  margin: 0 auto;

  border: 5px solid var(--text-color);
  border-top: 6px solid var(--primary-color);
  border-radius: 100%;

  animation: spin 1s infinite linear;
  z-index: 2;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
